/* You can add global styles to this file, and also import other style files */

@import '~src/variables.scss'; 

html, body { 
    height: 100%;   
}
body { 
    margin: 0; 
    font-family: $primary-font-family; 
    background: $body-background;

    .container{
        background: $container-background;
    }

    h1,h2,h3,h4,h5,h6{
        font-family: $heading-font-family;
        font-weight: 300;
    }

    /***  Utility classes   ***/

    .margin-0-b{
        margin-bottom:0px;
    }

    .margin-2-b{
        margin-bottom:20px;
    }

    .padding-2-tb{
        padding-top:20px;
        padding-bottom: 20px;
    }

    .text-align-center{
        text-align: center;
    }

    .cursor-pointer{
        cursor: pointer;
    }

    /*** Material radio custom styling ***/

    .active-toggle{
        &.mat-checked{
            .mat-slide-toggle-bar{
                background-color: rgba(0,255,0,.54);
                .mat-slide-toggle-thumb{
                    background-color: rgb(0,128,0);
                }
            }
        }
        .mat-slide-toggle-bar{
            background-color: rgba(255,0,0,.54);
            .mat-slide-toggle-thumb{
                background-color: rgb(255,0,0);
            }
        }
    }

}
