$body-background : #EFEFEF;
$container-background : #FFFFFF;

$primary-font-family : Roboto, "Helvetica Neue", sans-serif;
$heading-font-family : 'Raleway';

$active-chip-bg : rgba(0,128,0,.6);
$inactive-chip-bg : rgba(255,0,0,.6)